{% load static %}
<html>
<head>

	<title>PUZZLECHESSFENDB</title>
	 <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<h1>Dzienne zadania szachowe</h1>
	</header>
	<nav>
		<a href="{% url 'index' %}">Strona główna</a>
		<a href="{% url 'index' %}">Dzienne zadania</a>
		<a href="{% url 'inst' %}">Instrukcjia obsługi</a>
		<a href="https://github.com/paweltheriperr/puzzlechessdb">O projektcie</a>
	</nav>
	<main>
		<div id="container">
		<h2>Dzienne zadania szachowe</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper neque nec purus laoreet,</p>
		<svg viewBox="0 0 400 400">
        {{ board_svg|safe }}
    </svg>
		<div>



</div>
</div>
	</main>
</body>
</html>

